<section class="benefit-cards">
  <h2>Don't waste your valuable time or money</h2>
  <p>Only Udacity has all the critical factors to deliver real results</p>
  <div class="card-container">
    <div class="card card-one">
      <img
        class="card-icon"
        src="../../../../assets/EmployeableSkills__1_.svg"
        alt="Briefcase Icon"
      />
      <h3 class="card-title">Get real employable skills</h3>
      <p class="card-p">
        Our quality curriculum is designed with top-tier industry partners, not
        academics, so you learn the high-impact skills that top companies want.
      </p>
    </div>
    <div class="card card-two">
      <img
        class="card-icon"
        src="../../../../assets/ActiveLearning__1_.svg"
        alt="Briefcase Icon"
      />
      <h3 class="card-title">Project-based, active learning</h3>
      <p class="card-p">
        Learn by doing with real-world projects and other hands-on exercises
        that lead to real skills mastery.
      </p>
    </div>
    <div class="card card-three">
      <img
        class="card-icon"
        src="../../../../assets/Schedule__1_.svg"
        alt="Briefcase Icon"
      />
      <h3 class="card-title">Learn on your schedule</h3>
      <p class="card-p">
        Self-paced learning - whenever and wherever you want. Graduate while
        learning part-time for 10 hrs/week.
      </p>
    </div>
    <div class="card card-four">
      <img
        class="card-icon"
        src="../../../../assets/HelpYouNeed__1_.svg"
        alt="Briefcase Icon"
      />
      <h3 class="card-title">The help you need, when you need it</h3>
      <p class="card-p">
        Reach out to our mentors 24/7 and have your coding questions answered
        quickly so you can keep learning.
      </p>
    </div>
  </div>
</section>

<section class="explore-banner">
  <h2>Make the most of your online learning experience</h2>
  <p>
    Our Online Learning Resource Center has tips, tricks and inspiring stories
    to help you learn while staying home.
  </p>
  <button class="btn">explore resources</button>
</section>
