.data-science-1 {
  .card-header {
    background-image: url("~src/assets/carousel-img/data-science/data_engineer_catalog_image.jpg");
  }
}
.data-science-2 {
  .card-header {
    background-image: url("~src/assets/carousel-img/data-science/data_analyst_catalog_image.jpg");
  }
}
.data-science-3 {
  .card-header {
    background-image: url("~src/assets/carousel-img/data-science/data_scientist_catalog_image.jpg");
  }
}
.data-science-4 {
  .card-header {
    background-image: url("~src/assets/carousel-img/data-science/catalog_image_nd030.webp");
  }
}
.data-science-5 {
  .card-header {
    background-image: url("~src/assets/carousel-img/data-science/Programming_for_Data_Science_with_R_-_catalog_image.jpg");
  }
}
.data-science-6 {
  .card-header {
    background-image: url("~src/assets/carousel-img/data-science/business_analytics_catalog_image.jpg");
  }
}
.data-science-7 {
  .card-header {
    background-image: url("~src/assets/carousel-img/data-science/Programming_for_Data_Science_with_R_-_catalog_image.jpg");
  }
}
.data-science-8 {
  .card-header {
    background-image: url("~src/assets/carousel-img/data-science/man-analyzing-data-card.jpg");
  }
}
.programming-1 {
  .card-header {
    background-image: url("~src/assets/carousel-img/programming/c___catalog_image.webp");
  }
}
.programming-2 {
  .card-header {
    background-image: url("~src/assets/carousel-img/programming/catalog-card__6_.webp");
  }
}
.programming-3 {
  .card-header {
    background-image: url("~src/assets/carousel-img/programming/cloud_dev_catalog_image.webp");
  }
}
.programming-4 {
  .card-header {
    background-image: url("~src/assets/carousel-img/programming/data_engineer_catalog_image (1).jpg");
  }
}
.programming-5 {
  .card-header {
    background-image: url("~src/assets/carousel-img/programming/data-structures.jpg");
  }
}
.programming-6 {
  .card-header {
    background-image: url("~src/assets/carousel-img/programming/front_end_catalog_image.webp");
  }
}
.programming-7 {
  .card-header {
    background-image: url("~src/assets/carousel-img/programming/full_stack_catalog_image.webp");
  }
}
.programming-8 {
  .card-header {
    background-image: url("~src/assets/carousel-img/programming/intro-to-programming.webp");
  }
}
@for $i from 1 through 6 {
  .artificial-intelligence-#{$i} {
    .card-header {
      background-image: url("~src/assets/carousel-img/artificial-intelligence/#{$i}.jpg");
    }
  }
}

@for $x from 1 through 6 {
  .business-#{$x} {
    .card-header {
      background-image: url("~src/assets/carousel-img/business/#{$x}.jpg");
    }
  }
}

@for $y from 1 through 6 {
  .autonomous-vehicles-#{$y} {
    .card-header {
      background-image: url("~src/assets/carousel-img/autonomous-vehicles/#{$y}.jpg");
    }
  }
}

@for $z from 1 through 4 {
  .cloud-computing-#{$z} {
    .card-header {
      background-image: url("~src/assets/carousel-img/cloud-computing/#{$z}.jpg");
    }
  }
}
