.card {
  min-width: 15.13rem;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  border-radius: 0.375rem;
  background: #ffffff;
  max-width: 18.75rem;
  margin-bottom: 12px;
  margin-right: 12px;
  color: $menu-text-color;
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 15px 0 rgba(46, 61, 73, 0.2);
    .card-body {
      .card-title {
        color: #000000;
      }
    }
  }
  .card-header {
    height: 136px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 0.8rem;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    .new {
      background-color: #ad3959;
      padding: 0.2rem 0.4rem;
      text-transform: uppercase;
      color: white;
      font-size: 13px;
      font-weight: 700;
      border-radius: 5px;
    }
    .popular {
      @extend .new;
      background-color: $menuItem-hover-color;
    }
    .top-rated {
      @extend .new;
      background-color: #018377;
    }
  }
  .card-body {
    padding: 1rem;
    .card-title {
      margin-bottom: 0.5rem;
    }
    .card-data {
      display: flex;
      span {
        margin-right: 2px;
        font-size: 13px;
      }
      .stars {
        .card-star-icon {
          margin-right: 1px;
        }
      }
      .bars {
        .bar {
          display: inline-block;
          margin-right: 1px;
          width: 3px;
        }
        .bar-one {
          height: 3px;
          background-color: $menuItem-hover-color;
        }
        .bar-two {
          height: 6px;
          background-color: $menuItem-hover-color;
        }
        .bar-three {
          height: 9px;
          background-color: $menuItem-hover-color;
        }
        .empty {
          background-color: #d8d8d8d8;
        }
      }
      .difficulty {
        color: #000000;
        font-size: 12px;
      }
    }
    .estimated-time {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 13px;
      padding: 0.2rem 0rem;
    }
    .time {
      font-size: 13px;
    }
  }
}
