<section class="carousel">
  <h2 class="header">Explore our schools to find your perfect program</h2>
  <ul
    *ngIf="viewport !== 'xs' && viewport !== 'small'"
    name="fullsize"
    class="carousel-picker"
  >
    <li
      class="carousel-choice"
      *ngFor="let choice of choices"
      (click)="setCarousel(choice)"
    >
      <p [class.selected]="carouselChoice === choice.id">
        {{ choice.title }}
      </p>
    </li>
  </ul>
  <ul
    *ngIf="viewport !== 'xl' && viewport !== 'large' && viewport !== 'medium'"
    name="mobile"
    class="mobile-carousel-picker"
  >
    <li class="mobile-carousel-choice">
      <div class="choice-top" (click)="mobileSetCarousel('DATA_SCIENCE')">
        <span>Data Science</span>
        <span
          ><fa-icon
            [icon]="carouselChoice === 'DATA_SCIENCE' ? faMinus : faPlus"
            [styles]="{ stroke: '#02B3E4', color: '#02B3E4' }"
          ></fa-icon
        ></span>
      </div>
      <drag-scroll
        *ngIf="carouselChoice === 'DATA_SCIENCE'"
        #nav
        class="drag-scroll"
      >
        <div
          drag-scroll-item
          *ngFor="let item of dataScience"
          class="card"
          [class]="item.class"
        >
          <div class="card-header">
            <span
              class="card"
              [class]="item.state === 'top rated' ? 'top-rated' : item.state"
              >{{ item.state }}</span
            >
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ item.title }}</h4>
            <p class="card-data">
              <span class="stars">
                <fa-icon
                  *ngFor="let star of item.stars"
                  class="card-star-icon"
                  [icon]="faStar"
                  [styles]="{ stroke: '#ECC81A', color: '#ECC81A' }"
                  size="xs"
                ></fa-icon>
              </span>
              <span>4.6 (736)</span>
              <span class="bars">
                <div class="bar bar-one"></div>
                <div
                  [class]="
                    item.difficulty === 'Beginner'
                      ? 'bar bar-two empty'
                      : 'bar bar-two'
                  "
                ></div>
                <div
                  [class]="
                    item.difficulty === 'Advanced'
                      ? 'bar bar-three'
                      : 'bar bar-three empty'
                  "
                ></div> </span
              ><span class="difficulty">{{ item.difficulty }}</span>
            </p>
            <p class="estimated-time">estimated time</p>
            <p class="time">{{ item.estimatedTime }}</p>
          </div>
        </div>
      </drag-scroll>
    </li>
    <li class="mobile-carousel-choice">
      <div class="choice-top" (click)="mobileSetCarousel('PROGRAMMING')">
        <span>Programming</span>
        <span>
          <fa-icon
            [icon]="carouselChoice === 'PROGRAMMING' ? faMinus : faPlus"
            [styles]="{ stroke: '#02B3E4', color: '#02B3E4' }"
          ></fa-icon>
        </span>
      </div>
      <drag-scroll
        *ngIf="carouselChoice === 'PROGRAMMING'"
        #nav
        class="drag-scroll"
      >
        <div
          drag-scroll-item
          *ngFor="let item of programming"
          class="card"
          [class]="item.class"
        >
          <div class="card-header">
            <span
              class="card"
              [class]="item.state === 'top rated' ? 'top-rated' : item.state"
              >{{ item.state }}</span
            >
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ item.title }}</h4>
            <p class="card-data">
              <span class="stars">
                <fa-icon
                  *ngFor="let star of item.stars"
                  class="card-star-icon"
                  [icon]="faStar"
                  [styles]="{ stroke: '#ECC81A', color: '#ECC81A' }"
                  size="xs"
                ></fa-icon>
              </span>
              <span>4.6 (736)</span>
              <span class="bars">
                <div class="bar bar-one"></div>
                <div
                  [class]="
                    item.difficulty === 'Beginner'
                      ? 'bar bar-two empty'
                      : 'bar bar-two'
                  "
                ></div>
                <div
                  [class]="
                    item.difficulty === 'Advanced'
                      ? 'bar bar-three'
                      : 'bar bar-three empty'
                  "
                ></div> </span
              ><span class="difficulty">{{ item.difficulty }}</span>
            </p>
            <p class="estimated-time">estimated time</p>
            <p class="time">{{ item.estimatedTime }}</p>
          </div>
        </div>
      </drag-scroll>
    </li>
    <li class="mobile-carousel-choice">
      <div
        class="choice-top"
        (click)="mobileSetCarousel('ARTIFICIAL_INTELLIGENCE')"
      >
        <span>Artificial Intelligence</span>
        <span>
          <fa-icon
            [icon]="
              carouselChoice === 'ARTIFICIAL_INTELLIGENCE' ? faMinus : faPlus
            "
            [styles]="{ stroke: '#02B3E4', color: '#02B3E4' }"
          ></fa-icon>
        </span>
      </div>
      <drag-scroll
        *ngIf="carouselChoice === 'ARTIFICIAL_INTELLIGENCE'"
        #nav
        class="drag-scroll"
      >
        <div
          drag-scroll-item
          *ngFor="let item of artificialIntelligence"
          class="card"
          [class]="item.class"
        >
          <div class="card-header">
            <span
              class="card"
              [class]="item.state === 'top rated' ? 'top-rated' : item.state"
              >{{ item.state }}</span
            >
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ item.title }}</h4>
            <p class="card-data">
              <span class="stars">
                <fa-icon
                  *ngFor="let star of item.stars"
                  class="card-star-icon"
                  [icon]="faStar"
                  [styles]="{ stroke: '#ECC81A', color: '#ECC81A' }"
                  size="xs"
                ></fa-icon>
              </span>
              <span>4.6 (736)</span>
              <span class="bars">
                <div class="bar bar-one"></div>
                <div
                  [class]="
                    item.difficulty === 'Beginner'
                      ? 'bar bar-two empty'
                      : 'bar bar-two'
                  "
                ></div>
                <div
                  [class]="
                    item.difficulty === 'Advanced'
                      ? 'bar bar-three'
                      : 'bar bar-three empty'
                  "
                ></div> </span
              ><span class="difficulty">{{ item.difficulty }}</span>
            </p>
            <p class="estimated-time">estimated time</p>
            <p class="time">{{ item.estimatedTime }}</p>
          </div>
        </div>
      </drag-scroll>
    </li>
    <li class="mobile-carousel-choice">
      <div class="choice-top" (click)="mobileSetCarousel('BUSINESS')">
        <span>Business</span>
        <span>
          <fa-icon
            [icon]="carouselChoice === 'BUSINESS' ? faMinus : faPlus"
            [styles]="{ stroke: '#02B3E4', color: '#02B3E4' }"
          ></fa-icon>
        </span>
      </div>
      <drag-scroll
        *ngIf="carouselChoice === 'BUSINESS'"
        #nav
        class="drag-scroll"
      >
        <div
          drag-scroll-item
          *ngFor="let item of business"
          class="card"
          [class]="item.class"
        >
          <div class="card-header">
            <span
              class="card"
              [class]="item.state === 'top rated' ? 'top-rated' : item.state"
              >{{ item.state }}</span
            >
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ item.title }}</h4>
            <p class="card-data">
              <span class="stars">
                <fa-icon
                  *ngFor="let star of item.stars"
                  class="card-star-icon"
                  [icon]="faStar"
                  [styles]="{ stroke: '#ECC81A', color: '#ECC81A' }"
                  size="xs"
                ></fa-icon>
              </span>
              <span>4.6 (736)</span>
              <span class="bars">
                <div class="bar bar-one"></div>
                <div
                  [class]="
                    item.difficulty === 'Beginner'
                      ? 'bar bar-two empty'
                      : 'bar bar-two'
                  "
                ></div>
                <div
                  [class]="
                    item.difficulty === 'Advanced'
                      ? 'bar bar-three'
                      : 'bar bar-three empty'
                  "
                ></div> </span
              ><span class="difficulty">{{ item.difficulty }}</span>
            </p>
            <p class="estimated-time">estimated time</p>
            <p class="time">{{ item.estimatedTime }}</p>
          </div>
        </div>
      </drag-scroll>
    </li>
    <li class="mobile-carousel-choice">
      <div
        class="choice-top"
        (click)="mobileSetCarousel('AUTONOMOUS_VEHICLES')"
      >
        <span>Autonomous Vehicles</span>
        <span>
          <fa-icon
            [icon]="carouselChoice === 'AUTONOMOUS_VEHICLES' ? faMinus : faPlus"
            [styles]="{ stroke: '#02B3E4', color: '#02B3E4' }"
          ></fa-icon>
        </span>
      </div>
      <drag-scroll
        *ngIf="carouselChoice === 'AUTONOMOUS_VEHICLES'"
        #nav
        class="drag-scroll"
      >
        <div
          drag-scroll-item
          *ngFor="let item of autonomousVehicles"
          class="card"
          [class]="item.class"
        >
          <div class="card-header">
            <span
              class="card"
              [class]="item.state === 'top rated' ? 'top-rated' : item.state"
              >{{ item.state }}</span
            >
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ item.title }}</h4>
            <p class="card-data">
              <span class="stars">
                <fa-icon
                  *ngFor="let star of item.stars"
                  class="card-star-icon"
                  [icon]="faStar"
                  [styles]="{ stroke: '#ECC81A', color: '#ECC81A' }"
                  size="xs"
                ></fa-icon>
              </span>
              <span>4.6 (736)</span>
              <span class="bars">
                <div class="bar bar-one"></div>
                <div
                  [class]="
                    item.difficulty === 'Beginner'
                      ? 'bar bar-two empty'
                      : 'bar bar-two'
                  "
                ></div>
                <div
                  [class]="
                    item.difficulty === 'Advanced'
                      ? 'bar bar-three'
                      : 'bar bar-three empty'
                  "
                ></div> </span
              ><span class="difficulty">{{ item.difficulty }}</span>
            </p>
            <p class="estimated-time">estimated time</p>
            <p class="time">{{ item.estimatedTime }}</p>
          </div>
        </div>
      </drag-scroll>
    </li>
    <li class="mobile-carousel-choice">
      <div class="choice-top" (click)="mobileSetCarousel('CLOUD_COMPUTING')">
        <span>Cloud Computing</span>
        <span>
          <fa-icon
            [icon]="carouselChoice === 'CLOUD_COMPUTING' ? faMinus : faPlus"
            [styles]="{ stroke: '#02B3E4', color: '#02B3E4' }"
          ></fa-icon>
        </span>
      </div>
      <drag-scroll
        *ngIf="carouselChoice === 'CLOUD_COMPUTING'"
        #nav
        class="drag-scroll"
      >
        <div
          drag-scroll-item
          *ngFor="let item of cloudComputing"
          class="card"
          [class]="item.class"
        >
          <div class="card-header">
            <span
              class="card"
              [class]="item.state === 'top rated' ? 'top-rated' : item.state"
              >{{ item.state }}</span
            >
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ item.title }}</h4>
            <p class="card-data">
              <span class="stars">
                <fa-icon
                  *ngFor="let star of item.stars"
                  class="card-star-icon"
                  [icon]="faStar"
                  [styles]="{ stroke: '#ECC81A', color: '#ECC81A' }"
                  size="xs"
                ></fa-icon>
              </span>
              <span>4.6 (736)</span>
              <span class="bars">
                <div class="bar bar-one"></div>
                <div
                  [class]="
                    item.difficulty === 'Beginner'
                      ? 'bar bar-two empty'
                      : 'bar bar-two'
                  "
                ></div>
                <div
                  [class]="
                    item.difficulty === 'Advanced'
                      ? 'bar bar-three'
                      : 'bar bar-three empty'
                  "
                ></div> </span
              ><span class="difficulty">{{ item.difficulty }}</span>
            </p>
            <p class="estimated-time">estimated time</p>
            <p class="time">{{ item.estimatedTime }}</p>
          </div>
        </div>
      </drag-scroll>
    </li>
  </ul>
  <div
    name="fullsize"
    *ngIf="viewport !== 'xs' && viewport !== 'small'"
    class="carousel-container"
  >
    <fa-icon
      *ngIf="viewport !== 'xs' && viewport !== 'small' && viewport !== 'medium'"
      [icon]="faCaretLeft"
      [styles]="{ stroke: '#02B3E4', color: '#02B3E4' }"
      size="3x"
      class="arrow"
      (click)="moveLeft()"
    ></fa-icon>
    <drag-scroll
      *ngIf="carouselChoice === 'DATA_SCIENCE'"
      #nav
      class="drag-scroll"
    >
      <div
        drag-scroll-item
        *ngFor="let item of dataScience"
        class="card"
        [class]="item.class"
      >
        <div class="card-header">
          <span
            class="card"
            [class]="item.state === 'top rated' ? 'top-rated' : item.state"
            >{{ item.state }}</span
          >
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ item.title }}</h4>
          <p class="card-data">
            <span class="stars">
              <fa-icon
                *ngFor="let star of item.stars"
                class="card-star-icon"
                [icon]="faStar"
                [styles]="{ stroke: '#ECC81A', color: '#ECC81A' }"
                size="xs"
              ></fa-icon>
            </span>
            <span>4.6 (736)</span>
            <span class="bars">
              <div class="bar bar-one"></div>
              <div
                [class]="
                  item.difficulty === 'Beginner'
                    ? 'bar bar-two empty'
                    : 'bar bar-two'
                "
              ></div>
              <div
                [class]="
                  item.difficulty === 'Advanced'
                    ? 'bar bar-three'
                    : 'bar bar-three empty'
                "
              ></div> </span
            ><span class="difficulty">{{ item.difficulty }}</span>
          </p>
          <p class="estimated-time">estimated time</p>
          <p class="time">{{ item.estimatedTime }}</p>
        </div>
      </div>
    </drag-scroll>

    <drag-scroll
      *ngIf="carouselChoice === 'PROGRAMMING'"
      #nav
      class="drag-scroll"
      ><div
        drag-scroll-item
        *ngFor="let item of programming"
        class="card"
        [class]="item.class"
      >
        <div class="card-header">
          <span
            class="card"
            [class]="item.state === 'top rated' ? 'top-rated' : item.state"
            >{{ item.state }}</span
          >
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ item.title }}</h4>
          <p class="card-data">
            <span class="stars">
              <fa-icon
                *ngFor="let star of item.stars"
                class="card-star-icon"
                [icon]="faStar"
                [styles]="{ stroke: '#ECC81A', color: '#ECC81A' }"
                size="xs"
              ></fa-icon>
            </span>
            <span>4.6 (736)</span>
            <span class="bars">
              <div class="bar bar-one"></div>
              <div
                [class]="
                  item.difficulty === 'Beginner'
                    ? 'bar bar-two empty'
                    : 'bar bar-two'
                "
              ></div>
              <div
                [class]="
                  item.difficulty === 'Advanced'
                    ? 'bar bar-three'
                    : 'bar bar-three empty'
                "
              ></div> </span
            ><span class="difficulty">{{ item.difficulty }}</span>
          </p>
          <p class="estimated-time">estimated time</p>
          <p class="time">{{ item.estimatedTime }}</p>
        </div>
      </div>
    </drag-scroll>

    <drag-scroll
      *ngIf="carouselChoice === 'ARTIFICIAL_INTELLIGENCE'"
      #nav
      class="drag-scroll"
    >
      <div
        drag-scroll-item
        *ngFor="let item of artificialIntelligence"
        class="card"
        [class]="item.class"
      >
        <div class="card-header">
          <span
            class="card"
            [class]="item.state === 'top rated' ? 'top-rated' : item.state"
            >{{ item.state }}</span
          >
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ item.title }}</h4>
          <p class="card-data">
            <span class="stars">
              <fa-icon
                *ngFor="let star of item.stars"
                class="card-star-icon"
                [icon]="faStar"
                [styles]="{ stroke: '#ECC81A', color: '#ECC81A' }"
                size="xs"
              ></fa-icon>
            </span>
            <span>4.6 (736)</span>
            <span class="bars">
              <div class="bar bar-one"></div>
              <div
                [class]="
                  item.difficulty === 'Beginner'
                    ? 'bar bar-two empty'
                    : 'bar bar-two'
                "
              ></div>
              <div
                [class]="
                  item.difficulty === 'Advanced'
                    ? 'bar bar-three'
                    : 'bar bar-three empty'
                "
              ></div> </span
            ><span class="difficulty">{{ item.difficulty }}</span>
          </p>
          <p class="estimated-time">estimated time</p>
          <p class="time">{{ item.estimatedTime }}</p>
        </div>
      </div>
    </drag-scroll>

    <drag-scroll *ngIf="carouselChoice === 'BUSINESS'" #nav class="drag-scroll">
      <div
        drag-scroll-item
        *ngFor="let item of business"
        class="card"
        [class]="item.class"
      >
        <div class="card-header">
          <span
            class="card"
            [class]="item.state === 'top rated' ? 'top-rated' : item.state"
            >{{ item.state }}</span
          >
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ item.title }}</h4>
          <p class="card-data">
            <span class="stars">
              <fa-icon
                *ngFor="let star of item.stars"
                class="card-star-icon"
                [icon]="faStar"
                [styles]="{ stroke: '#ECC81A', color: '#ECC81A' }"
                size="xs"
              ></fa-icon>
            </span>
            <span>4.6 (736)</span>
            <span class="bars">
              <div class="bar bar-one"></div>
              <div
                [class]="
                  item.difficulty === 'Beginner'
                    ? 'bar bar-two empty'
                    : 'bar bar-two'
                "
              ></div>
              <div
                [class]="
                  item.difficulty === 'Advanced'
                    ? 'bar bar-three'
                    : 'bar bar-three empty'
                "
              ></div> </span
            ><span class="difficulty">{{ item.difficulty }}</span>
          </p>
          <p class="estimated-time">estimated time</p>
          <p class="time">{{ item.estimatedTime }}</p>
        </div>
      </div>
    </drag-scroll>

    <drag-scroll
      *ngIf="carouselChoice === 'AUTONOMOUS_VEHICLES'"
      #nav
      class="drag-scroll"
    >
      <div
        drag-scroll-item
        *ngFor="let item of autonomousVehicles"
        class="card"
        [class]="item.class"
      >
        <div class="card-header">
          <span
            class="card"
            [class]="item.state === 'top rated' ? 'top-rated' : item.state"
            >{{ item.state }}</span
          >
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ item.title }}</h4>
          <p class="card-data">
            <span class="stars">
              <fa-icon
                *ngFor="let star of item.stars"
                class="card-star-icon"
                [icon]="faStar"
                [styles]="{ stroke: '#ECC81A', color: '#ECC81A' }"
                size="xs"
              ></fa-icon>
            </span>
            <span>4.6 (736)</span>
            <span class="bars">
              <div class="bar bar-one"></div>
              <div
                [class]="
                  item.difficulty === 'Beginner'
                    ? 'bar bar-two empty'
                    : 'bar bar-two'
                "
              ></div>
              <div
                [class]="
                  item.difficulty === 'Advanced'
                    ? 'bar bar-three'
                    : 'bar bar-three empty'
                "
              ></div> </span
            ><span class="difficulty">{{ item.difficulty }}</span>
          </p>
          <p class="estimated-time">estimated time</p>
          <p class="time">{{ item.estimatedTime }}</p>
        </div>
      </div>
    </drag-scroll>

    <drag-scroll
      *ngIf="carouselChoice === 'CLOUD_COMPUTING'"
      #nav
      class="drag-scroll"
    >
      <div
        drag-scroll-item
        *ngFor="let item of cloudComputing"
        class="card"
        [class]="item.class"
      >
        <div class="card-header">
          <span
            class="card"
            [class]="item.state === 'top rated' ? 'top-rated' : item.state"
            >{{ item.state }}</span
          >
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ item.title }}</h4>
          <p class="card-data">
            <span class="stars">
              <fa-icon
                *ngFor="let star of item.stars"
                class="card-star-icon"
                [icon]="faStar"
                [styles]="{ stroke: '#ECC81A', color: '#ECC81A' }"
                size="xs"
              ></fa-icon>
            </span>
            <span>4.6 (736)</span>
            <span class="bars">
              <div class="bar bar-one"></div>
              <div
                [class]="
                  item.difficulty === 'Beginner'
                    ? 'bar bar-two empty'
                    : 'bar bar-two'
                "
              ></div>
              <div
                [class]="
                  item.difficulty === 'Advanced'
                    ? 'bar bar-three'
                    : 'bar bar-three empty'
                "
              ></div> </span
            ><span class="difficulty">{{ item.difficulty }}</span>
          </p>
          <p class="estimated-time">estimated time</p>
          <p class="time">{{ item.estimatedTime }}</p>
        </div>
      </div>
    </drag-scroll>

    <fa-icon
      *ngIf="viewport !== 'xs' && viewport !== 'small' && viewport !== 'medium'"
      [icon]="faCaretRight"
      [styles]="{ stroke: '#02B3E4', color: '#02B3E4' }"
      size="3x"
      class="arrow"
      (click)="moveRight()"
    ></fa-icon>
  </div>
</section>
