@import "~src/sass/variables.scss";
@import "~src/sass/utilities.scss";

.carousel {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  max-width: 78.625rem;
  margin: auto;
  .header {
    text-align: center;
    color: #2e3d49;
    font-size: 28px;
    margin-bottom: 2rem;
    @media (max-width: 766px) {
      max-width: 90%;
      margin: auto;
      font-size: 20px;
      margin-bottom: 1rem;
    }
  }
  .mobile-carousel-picker {
    .mobile-carousel-choice {
      .choice-top {
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $menu-text-color;
        font-weight: 600;
        border-bottom: 1px solid rgba(0, 0, 0, 0.14);
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .carousel-picker {
    display: flex;
    padding: 0rem 2rem 2rem 2rem;
    justify-content: space-around;
    .carousel-choice {
      text-align: center;
      margin: 0rem 0.5rem 0rem 0.5rem;
      background: #ffffff;
      &:hover {
        cursor: pointer;
      }
    }
    .selected {
      border-bottom: 2px solid #02b3e4;
      z-index: 2;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(190%);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 12px solid #02b3e4;
      }
    }
  }
  .arrow {
    padding: 1.5rem;
    &:hover {
      cursor: pointer;
    }
  }
  .carousel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 991px) {
      padding: 0rem 1rem;
    }
  }
}
.drag-scroll {
  @import "card";
}
@import "backgrounds";
