<section class="student-stories">
  <h2>Strength in numbers</h2>
  <ul class="features">
    <li class="feature">
      <img src="../../../../assets/degree-hat.svg" alt="Degree hat" />
      <h3>100,000+</h3>
      <p>Udacity graduations and counting</p>
    </li>
    <li class="feature">
      <img src="../../../../assets/star_copy.svg" alt="Pin" />
      <h3>200+</h3>
      <p>Industry experts partnering to build our content</p>
    </li>
    <li class="feature">
      <img src="../../../../assets/star_copy_2.svg" alt="Graph" />
      <h3>100+</h3>
      <p>Enterprise customers world-wide</p>
    </li>
  </ul>
  <div class="card-container">
    <div class="card card-one">
      <img src="../../../../assets/Jesse.webp" alt="Circular photo of person" />
      <div class="card-body">
        <h3>Jesse</h3>
        <p class="quote">
          "The curriculum was directly targeted toward applied techniques with
          high profile projects – real datasets with industry partners. It
          helped me achieve my career transition goal."
        </p>
      </div>
      <div class="card-footer">
        <p class="now-at">now at</p>
        <p class="location">Raytheon | Data Scientist</p>
      </div>
    </div>
    <div class="card card-two">
      <img
        src="../../../../assets/Sundar.webp"
        alt="Circular photo of person"
      />
      <div class="card-body">
        <h3>Sundar</h3>
        <p class="quote">
          "The curriculum was aligned with what I wanted to study. The
          assignments are specific to the industry I’m in. I was able to develop
          new language translation tools for my company."
        </p>
      </div>
      <div class="card-footer">
        <p class="now-at">now at</p>
        <p class="location">Comcast | Lead Data Scientist</p>
      </div>
    </div>
    <div class="card card-three">
      <img src="../../../../assets/David.webp" alt="Circular photo of person" />
      <div class="card-body">
        <h3>David</h3>
        <p class="quote">
          "One of the things that attracted me to Udacity was a curriculum
          developed by people that worked for some of the biggest and most
          successful tech companies.”
        </p>
      </div>
      <div class="card-footer david">
        <p class="now-at">now at</p>
        <p class="location">Comcast | Lead Data Scientist</p>
      </div>
    </div>
  </div>
  <button class="btn">more success stories</button>
</section>
