@import "~src/sass/utilities.scss";
@import "~src/sass/variables.scss";
.student-stories {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #f3f8ff;
  h2 {
    font-size: 2rem;
    padding-top: 2rem;
    margin-bottom: 3.5rem;
    text-align: center;
    color: $alternative-text-color;
  }
  .features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1180px;
    margin: auto;
    .feature {
      text-align: center;
      margin: 0rem 1.5rem 1.5rem 1.5rem;
      img {
        margin-bottom: 13px;
      }
      h3 {
        margin-bottom: 1rem;
        font-size: 28px;
        color: $alternative-text-color;
      }
      p {
        color: #11161a;
        font-weight: 600;
        font-size: 1rem;
        width: 13.63rem;
      }
    }
  }
  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 21.5rem;
      margin: 1.5rem;
      background: #ffffff;
      border-radius: 8px;
      box-shadow: 0 0 4px 0 rgba(17, 22, 26, 0.16),
        0 2px 4px 0 rgba(17, 22, 26, 0.08), 0 4px 8px 0 rgba(17, 22, 26, 0.08);
      img {
        height: 64px;
        transform: translateY(-50%);
      }
      .card-body {
        text-align: center;
        transform: translateY(-5%);
        h3 {
          font-size: 28px;
          color: $alternative-text-color;
          margin-bottom: 24px;
        }
        .quote {
          line-height: 28px;
          color: $menu-text-color;
          text-align: center;
          padding: 0px 20px 24px 20px;
          font-style: italic;
        }
      }

      .card-footer {
        background: #f7f7f8;
        width: 100%;
        text-align: center;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        .now-at {
          margin-top: 1.5rem;
          text-transform: uppercase;
          font-size: 0.8125rem;
          font-weight: 700;
          margin-bottom: 0.5rem;
          color: $alternative-text-color;
        }
        .location {
          margin-bottom: 1.5rem;
          color: $alternative-text-color;
        }
      }
    }
  }
}

.david {
  @media (min-width: 1192px) {
    transform: translateY(30%);
  }
}

.card-one {
  border-top: 2px solid #02ccba;
}
.card-two {
  border-top: 2px solid #a951ed;
}
.card-three {
  border-top: 2px solid #02b3e4;
}
