@import "~src/sass/utilities.scss";

$menu-text-color: #525c65;
$menuItem-hover-color: #017a9b;

.nav {
  height: 96px;
  @media (max-width: 767px) {
    height: 72px;
  }
  @import "fullsize-nav";
  @import "mobile-nav";
}

.dropdown-ul {
  background-color: #e5eff5;
  padding: 2rem 1rem;

  .dropdown-li {
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    white-space: nowrap;
    color: $menu-text-color;
    &:hover {
      cursor: pointer;
      color: $menuItem-hover-color;
    }
  }
}

.active-link {
  padding: 0.5rem;
  background-color: #e5eff5;
}
