@import "~src/sass/utilities.scss";

.nav {
  height: 96px;
  .fullsize-nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .sidenav {
      display: flex;
      align-items: center;
      height: 100%;
      .sidenav-list {
        height: 100%;
        display: flex;
        .sidenav-list-item {
          position: relative;
          display: flex;
          flex-direction: column;
          // align-items: center;
          justify-content: center;
          padding: 0rem 1rem;
          a {
            color: #525c65;
          }
          span {
            padding-left: 0.5rem;
          }
          .dropdown-container {
            position: absolute;
            z-index: 2;
          }
        }
      }
      .sidenav-buttons {
        height: fit-content;
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        a {
          padding: 0rem 1rem;
        }
      }
    }
  }
}

.dropdown-ul {
  background-color: #e5eff5;
  padding: 2rem 1rem;
  li {
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.active-link {
  padding: 0.5rem;
  background-color: #e5eff5;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
