@import "~src/sass/utilities.scss";
@import "src/sass/variables.scss";

.nav {
  height: 96px;
  position: relative;
  @media (max-width: 767px) {
    height: 72px;
  }
  @import "fullsize-nav";
  @import "mobile-nav";
  .hamburger-sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.dropdown-ul {
  background-color: #e5eff5;
  padding: 2rem 1rem;

  .dropdown-li {
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    white-space: nowrap;
    color: $menu-text-color;
    &:hover {
      cursor: pointer;
      color: $menuItem-hover-color;
    }
  }
}

.active-link {
  padding: 0.5rem;
  background-color: #e5eff5;
}
