@import "~src/sass/variables.scss";

@for $x from 0 through 5 {
  .item-#{$x}-sidecontent {
    display: none;
  }
}

.programming-list {
  background-color: #e5eff5;
  padding: 2rem 0rem 1rem 0rem;
  .item {
    min-width: 220px;
    padding: 0.5rem 2rem;
    color: $menu-text-color;
    text-transform: uppercase;
    display: flex;
    &:hover {
      cursor: pointer;
      color: $menuItem-hover-color;
    }
  }
}

@for $i from 0 through 5 {
  $ratio: $i * 60px;
  @if $i > 2 {
    $ratio: 20px + $i * 38px;
  }
  @if $i == 2 {
    $ratio: 22px + $i * 38px;
  }
  .item-#{$i} {
    position: relative;
    display: flex;
    &:hover {
      .item-#{$i}-sidecontent {
        display: block;
        position: absolute;
        top: -32px - $ratio;
        left: 320px;
      }
    }
  }
}

.sidecontent {
  width: 20rem;
  box-shadow: 8px 8px 20px -8px rgba(0, 0, 0, 0.5);
  padding-bottom: 1rem;
  background: #ffffff;
  .sidecontent-list {
    padding-top: 2rem;
    .sidecontent-header {
      font-weight: 600;
      color: #525c65;
      padding: 0.5rem 2rem;
    }
    .sidecontent-list-item {
      padding: 0.5rem 2rem;
      color: #525c65;
      &:hover {
        color: $menuItem-hover-color;
      }
    }
  }
}
