@import "~src/sass/variables.scss";

.programming-list {
  background-color: #e5eff5;
  padding: 2rem 0rem 1rem 0rem;
  .item {
    min-width: 220px;
    padding: 0.5rem 2rem;
    color: $menu-text-color;
    text-transform: uppercase;
    display: flex;
    &:hover {
      cursor: pointer;
      color: $menuItem-hover-color;
    }
  }
  .item-1 {
    position: relative;
    display: flex;
    .sidecontent-list {
      background-color: rgba(0, 0, 0, 0.15);
      padding: 2rem;
    }
  }
}

.item-1-sidecontent {
  position: absolute;
  top: 0;
  left: 220px;
}
